.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #1D1D1C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-title {
  font-family: 'Nunito Sans', serif;
  font-size: 7rem;
}

.circle-text {
  color: #F3E45F;
  font-family: 'Nunito Sans', serif;
  font-size: 1rem;
}

.label-col {
  margin-right:1rem;

}

.circle {
	border-radius: 50%;
	width: 6rem;
  height: 6rem;
  background-color: #F3E45F;
}

.circle:hover {
  background-color: white;
  border: blue;
}