body {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

h1 { 
  color: #fff;
  padding: 0 6rem;
  font-size: 2rem;
  font-weight:bold;
}

h2 {
  color:#161308;
  text-align: center;
  font-size:2rem;
}

h3 { 
  color: #fff;
  font-size: 1.5rem;
}

/* /////////////// */
/* /////////////// */
/* /////////////// */
/* HEADER */
/* /////////////// */
/* /////////////// */

.header-title {
  background-color: #0b0c10;
  color: white;
}

.header-bar {
  background-color: #FC4445;
}

.header-link {
  color: #0b0c10;
  font-weight: bold;
  font-size:1.5rem;
  margin-left: 2rem;
}

/* /////////////// */
/* /////////////// */
/* /////////////// */
/* LISTS */
/* /////////////// */
/* /////////////// */

.list-header {
  background-color:#002130;
  border-left: solid #fff 1px;
  border-right: solid #fff 1px;
}

.list-of-ideas {
  font-family:'PT Serif', serif;
  padding-left:4rem;
  padding-right:2rem;
  font-size:1.25rem;
}

/* /////////////// */
/* /////////////// */
/* /////////////// */
/* BODY */
/* /////////////// */
/* /////////////// */

.content {
  background-color:#cafafe; 
}

.body-text {
  font-family:'PT Serif', serif;
  font-size:1.5rem;
}

.body-text-padding {
  padding-left:3rem;
  padding-right:3rem;
}

.side {
  background-color:#FC4445;
  max-width:2rem;
}

/* /////////////// */
/* /////////////// */
/* /////////////// */
/* IMAGES */
/* /////////////// */
/* /////////////// */

.meetup {
  max-width: 15rem; 
  max-height: 15rem;
}
